/* ––––– Typografie ––––– */

* {                             /* für gesamtes Dokument */
  /*font-family: 'Roboto', sans-serif;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e5e5e5;
}

body {
  margin-left: 45px;
  margin-right: 45px;
}

/* ––––– Bild 1 & 2 ––––– */

#bild {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  max-width: 100%;
}

#bild_work {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  max-width: 100%;
}

#bild_text {
	position: fixed;
	display: none;
  background-color: transparent;
}

#bild_text p {
  font-size: 0.8em;
  letter-spacing: 0.19em;
  line-height: 1.5;
  font-weight: bold;
}

#counter {
  text-align: center;
  font-size: 1.25em;
  font-weight: 900;
}

#counter button {
  font-weight: bold;
  border-style: none;
}

#counter button:hover {
  cursor: pointer;
  color: cyan;
}


/* ––––– Navigation 1 & 2 ––––– */

h2 {
  font-size: 1.25em;
  height: 32px;
  margin-top: 26px;
}

div ul li {
  list-style: none;
  display: inline;
}

header {
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 160px;
}

header div ul {
  margin: 0;
  padding: 0;
}

header div ul li {
  margin: 0 5px;
  list-style: none;
}

#nav1 ul {
  text-align: center;
}

#nav1 ul li {
  padding-top: 60px;
}

#nav1 ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  letter-spacing: 0.25em;
}

#nav2 ul li {
  position: absolute;
  top: 60px;                                 /* Abstand oben */
}

#nav2 ul li:nth-child(1) {                   /* :nth-child(X) = Selektor mit Nummer des Elementes */
  left: 60px;                                /* Abstand links */
}

#nav2 ul li:nth-child(2) {                   /* :nth-child(X) = Selektor mit Nummer des Elementes */
  right: 60px;                               /* Abstand rechts */
}

#nav2 ul li a {
  text-decoration: none;                     /* keine Schmuckelemente */
  font-size: 20px;                           /* Schriftgröße */
  color: black;                              /* Schriftfarbe */
  letter-spacing: 0.25em;                    /* Spazionierung */
}

#nav1 ul li a:hover, #nav2 ul li a:hover {      /* mit Maus drüber fahren */
  border-width: 0.25em;                            /* Rahmendicke */
  border-style: none none solid;                /* 1. Rahmen ringsum, 2. links + rechts, 3. unten  */
  color: cyan;                                  /* Farbe ändert sich */
}

/* ––––– Dropdown-Menü 1 & 2 ––––– */

#dropdown1 {
  display: inline-block;                        /* <span> ist inline-Element (span heißt Bereich) */
}

#dropdown1:hover {
  color: cyan;
}

#dropdown1 span {
  letter-spacing: 0.25em;
  font-size: 20px;
  font-weight: medium;
}

#dropdown1 span:hover {
  border-width: 0.25em;
  border-style: none none solid;
  color: cyan;
  cursor: pointer;
}

#dropdown1:hover #dropdown2 {
  display: block;
}

#dropdown2 {
  display: none;
  line-height: 40px;
  margin-top: 25px;
}

#dropdown2 a h2 {
  font-size: 20px;
}

#dropdown2 a h2:hover {
  color: #ffa07a; }
/*  border-width: 0.25em;
  border-style: none none solid;
}

/* ––––– Kontakt ––––– */

#kontakt h1 {
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.125em;
  margin-top: 40px;
}

#kontakt h2 {
  text-align: center;
  font-size: 0.95em;
  letter-spacing: 0.125em;
}

#kontakt ul {
  text-align: center;
  list-style: none;
  text-decoration: none;
  font-size: 0.95em;
  letter-spacing: 0.125em;
  padding: 0;
}

#kontakt a {
  color: black;
  text-decoration: none;
}

#kontakt a:hover {
  color: cyan;
  border-style: none none solid;
  border-width: 0.125em;
}

/* ––––– Curriculum Vitae ––––– */

table {
  float: left;
}

#cv {
  margin-left: 20px;
  margin-right: 20px;
}

#cv h1 {
  font-size: 20px;
  letter-spacing: 0.25em;
  cursor: default;
}

#cv table {
  border-collapse: collapse;
}

#cv table td, th {
  vertical-align: top;
  padding: 0.5em 0.5em 0.5em 0;
  line-height: 1.5;
}

#cv thead {
  color: cyan;
  font-size: 1.0em;
  font-weight: bold;
  letter-spacing: 0.125em;
  line-height: 3;
  margin-top: 1.0em;
  cursor: default;
}

/* ––––– Responsive Design (Media Queries) ~ Curriculum Vitae ––––– */

@media screen and (min-width: 1250px) {

  table {
    width: 30%;
    display: block;
    padding-right: 30px;
  }

}

@media screen and (max-width: 1250px) {

  thead {
    display: table-header-group;
  }

  tr {
    border-bottom: 1px solid;
    /*border-color: black;*/
  }

  td:first-child {
    display: block block;
    width: 320px;
  }

  td:last-child {
    width: 65%;
  }

}

@media screen and (max-width: 55em) {

  thead {
    display: table-header-group;
  }

  tr {
    border-bottom: 1px solid;
    /*border-color: black;*/
  }

  td:first-child {
    width: 320px;
  }

  td:last-child {
    width: 65%;
  }

}

@media screen and (max-width: 49em) {

  thead {
    display: table-header-group;
  }

  tr {
    border-bottom: 1px solid;
    /*border-color: black;*/
  }

  td:first-child {
    width: 220px;
  }

  td:last-child {
    width: 65%;
  }

}

@media screen and (max-width: 44em) {

  thead {
    display: table-header-group;
  }

  tr {
    border-bottom: 1px solid;
    /*border-color: black;*/
  }

  td:first-child {
    width: 133px;
    font-weight: 500;
  }

  td:last-child {
    width: 65%;
  }

}

@media screen and (max-width: 34em) {

  thead {
    display: block;
  }

  tr {
    border-bottom: 1px solid;
    /*border-color: black;*/
  }

  td:first-child {
    font-weight: 500;
  }

  table tbody tr {
    display: block;
  }

  tbody th {
    display: block;
    font-weight: bold;
  }

  td {
    display: inline-block;
  }

}

@media screen and (max-width: 16em) {

  td {
    display: block;
  }

}
