/* ––––– Typografie ––––– */

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e5e5e5;
}

body {
  padding-left: 40px;
  padding-right: 40px;
}

/* ––––– Bild 1 & 2 ––––– */

#bild {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 40px;
  width: calc(100vw - 90px);
}

.bildVorschau {
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  height: 400px;
}

.bildVorschau img {
  width: 570px;
}

#bild_work {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 40px;
  width: calc(100vw - 90px);
}

#bild_text {
	position: fixed;
	display: none;
  background-color: transparent;
}

#bild_text p {
  font-size: 0.8em;
  letter-spacing: 0.19em;
  line-height: 1.5;
  font-weight: normal;
  background-color: rgba(255,255,255,0);
  text-align: left;
}

#counter {
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
}

#counter a {
  text-decoration: none;
  color: black;
  border-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

#counter a:last-child {
  font-weight: normal;
  letter-spacing: 0.25em;
}

#counter a:hover {
  cursor: pointer;
  color: cyan;
}

/* ––––– Navigation 1 & 2 ––––– */

h2 {
  font-size: 1.25em;
  height: 32px;
  margin-top: 26px;
}

div ul li {
  list-style: none;
  display: inline;
}

header {
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 160px;
}

header div ul {
  margin: 0;
  padding: 0;
}

header div ul li {
  margin: 0 5px;
  list-style: none;
}

#nav1 ul {
  text-align: center;
}

#nav1 ul li {
  padding-top: 60px;
}

#nav1 ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  letter-spacing: 0.25em;
}

#nav2 ul li {
  position: absolute;
  top: 60px;
}

#nav2 ul li:nth-child(1) {
  left: 60px;
}

#nav2 ul li:nth-child(2) {
  right: 60px;
}

#nav2 ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  letter-spacing: 0.25em;
}

#nav1 ul li a:hover, #nav2 ul li a:hover {
  border-width: 0.2em;
  border-style: none none solid;
  color: cyan;
}

/* ––––– Dropdown-Menü 1 & 2 ––––– */

#dropdown1 {
  display: inline-block;
}

#dropdown1:hover {
  color: cyan;
}

#dropdown1 span {
  letter-spacing: 0.25em;
  font-size: 20px;
  font-weight: medium;
}

#dropdown1 span:hover {
  border-width: 0.2em;
  border-style: none none solid;
  color: cyan;
  cursor: pointer;
}

#dropdown1:hover #dropdown2 {
  display: block;
}

#dropdown2 {
  display: none;
  line-height: 40px;
  margin-top: 25px;
}

#dropdown2 a h2 {
  font-size: 20px;
}

#dropdown2 a h2:hover {
  color: #ffa07a; }
}

/* ––––– Kontakt ––––– */

#kontakt span {
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.125em;
  margin-top: 40px;
}

#kontakt h1 {
  text-align: center;
  font-size: 1.0em;
  letter-spacing: 0.125em;
}

#kontakt h2 {
  text-align: center;
  font-size: 0.95em;
  letter-spacing: 0.125em;
}

#kontakt ul {
  text-align: center;
  list-style: none;
  text-decoration: none;
  font-size: 0.95em;
  letter-spacing: 0.125em;
  padding: 0;
}

#kontakt a {
  color: black;
  text-decoration: none;
}

#kontakt a:hover {
  color: cyan;
  border-style: none none solid;
  border-width: 0.125em;
}

/* ––––– Impressum ––––– */

#impressum {
  margin-top: 40px;
}

#impressum ul {
  padding: 0
}

#menu1 {
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.125em;
  font-weight: bold;
}

#menu1 span:hover {
  border-width: 0.15em;
  border-style: none none solid;
  color: cyan;
  cursor: pointer;
}

#menu1:hover #menu2 {
  display: block;
}

#menu2 {
  display: none;
  line-height: 40px;
  margin-top: 25px;
}

#menu2 h2 {
  font-weight: normal;
  font-size: 0.95em;
  letter-spacing: 0.125em;
  font-weight: normal;
}

/* ––––– Curriculum Vitae ––––– */

table {
  float: left;
}

#cv {
  margin-left: 20px;
  margin-right: 20px;
}

#cv h1 {
  font-size: 20px;
  letter-spacing: 0.25em;
  cursor: default;
}

#cv table {
  border-collapse: collapse;
}

#cv td:first-child {
  width: 135px;
}

#cv table td, th {
  vertical-align: top;
  padding: 0.5em 0.5em 0.5em 0;
  line-height: 1.75;
}

#cv thead {
  color: cyan;
  font-size: 1.0em;
  font-weight: bold;
  letter-spacing: 0.125em;
  line-height: 3;
  margin-top: 1.0em;
  cursor: default;
}

/* ––––– Responsive Design (Media Queries) ~ Curriculum Vitae ––––– */

@media screen and (min-width: 1250px) {

  table {
    width: 30%;
    display: block;
    padding-right: 30px;
  }

}

@media screen and (max-width: 1250px) {

  thead {
    display: table-header-group;
  }

  tr {
    border-bottom: 1px solid;
  }

  td:first-child {
    display: block block;
    width: 320px;
  }

  td:last-child {
    width: 65%;
  }

}

@media screen and (max-width: 55em) {

  thead {
    display: table-header-group;
  }

  tr {
    border-bottom: 1px solid;
  }

  td:first-child {
    width: 320px;
  }

  td:last-child {
    width: 65%;
  }

}

@media screen and (max-width: 49em) {

  thead {
    display: table-header-group;
  }

  tr {
    border-bottom: 1px solid;
  }

  td:first-child {
    width: 220px;
  }

  td:last-child {
    width: 65%;
  }

}

@media screen and (max-width: 44em) {

  thead {
    display: table-header-group;
  }

  tr {
    border-bottom: 1px solid;
  }

  td:first-child {
    width: 133px;
    font-weight: 500;
  }

  td:last-child {
    width: 65%;
  }

}

@media screen and (max-width: 34em) {

  thead {
    display: block;
  }

  tr {
    border-bottom: 1px solid;
  }

  td:first-child {
    font-weight: 500;
  }

  table tbody tr {
    display: block;
  }

  tbody th {
    display: block;
    font-weight: bold;
  }

  td {
    display: inline-block;
  }

}

@media screen and (max-width: 16em) {

  td {
    display: block;
  }

}

/* ––––– galleries not selectable ––––– */

.galleryImgAndInfotext img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* ––––– galleries pointer –––––

.galleryImgAndInfotext img, #homeImage {
	cursor: url(../img/Cursors/cursor_gal_mouseover.cur), default;
}*/

/* ––––– portfolio ––––– */

.galleryImgAndInfotext {
	height: 420px;
	text-align: center;
}

#gallery {
	margin: 10px 0 0 0px;
}

.galleryButtonsAndCounter {
	margin-top: 10px;
	text-align: center;
  letter-spacing: 0.15em;
}

.galleryAuthorInitial {
	margin-top: -345px;
	margin-left: 725px;
	font-size: 25px;
	font-weight: bold;
}

#galleryNav {
	position: absolute;
	top: 670px;
	width: 944px;
	left: 50%;
	margin-left: -472px;
}

#galleryNav ul {
	margin: 0;
	padding: 0;
}

#gallery {
	font-size: 10px;
}

#galleryNav nav {
	width: 428px;
	font-weight: bold;
	font-size: 11px;
}

.leftGalleryNav {
	text-align: right;
	float: left;
}

.rightGalleryNav {
	text-align: left;
	float: right;
}

/* =================================== */

#gallery {
	font-size: 11px;
}

#galleryNav nav {
	width: 428px;
	font-weight: bold;
	font-size: 11px;
}

.leftGalleryNav {
	text-align: right;
	float: left;
}
.rightGalleryNav {
	text-align: left;
	float: right;
}

#galleryNav {
	line-height: 17px;
	letter-spacing: 0.18em;
}
#galleryNav ul li a:hover {
	border-style: none none solid;
	padding-bottom: 1px;
	border-width: 2px;
}
.galleryInfotext {
	text-align: left;
	font-weight: normal;
	font-size: 10.5px;
	letter-spacing: 0.18em;
}
#homeText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 0.19em;
	line-height: 16.5px;
	font-weight: bold;
}
#homeText span {
	font-size: 14px;
}
#kontakt article h1 {
	font-size: 14px;
	letter-spacing: 0.1em;
}
#kontakt article h2 {
	font-size: 11px;
	letter-spacing: 0.1em;
	line-height: 16.5px;
}
#kontakt article ul {
	list-style: none;
	line-height: 16.5px;
}
#kontakt article ul li {
	letter-spacing: 0.1em;
}
#kontakt article ul li:nth-child(1) {
	letter-spacing: 0.15em;
}
#kontakt article ul a {
	text-decoration: none;
	color: black;
}
#kontaktBrenda {
	text-align: right;
}
#imprint h1 {
	font-size: 14px;
	letter-spacing: 0.18em;
	cursor: pointer;
}
#imprint h1:hover {
	border-style: none none solid;
	border-width: 2px;
}

#kontaktAndrea, #kontaktBrenda {
	font-size: 11px;
	font-weight: bold;
}

#kontakt #imprint h2 {
	padding: 30px 0 0 0;
}
#imprintText {
	display: none;
	font-size: 11px;
	font-weight: bold;
}
#imprintText p {

	padding: 30px 0 40px 0;
}
#bagGalleryNav {
	font-size: 11px;
	font-weight: bold;
}
#bagGalleryNav h1 {
	font-size: 14px;
}
#bagStaticInfo p {
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
}
#bagStaticInfo p:nth-child(3) a {
	font-size: 14px;
}
#bagGalleryNav, #bagStaticInfo {
	letter-spacing: 0.1em;
}
#bagGallery .galleryInfotext {
	font-weight: bold;
}
.galleryInfotext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 0.19em;
	line-height: 16.5px;

}
.galleryInfotext span {
	font-size: 14px;
}
