/* ––––– Typografie ––––– */

* {                             /* für gesamtes Dokument */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #efefef;
}

/* ––––– Navigation 1 & 2 ––––– */

div ul li {
  list-style: none;
  display: inline;
}

header {
  font-weight: bold;
  margin-top: 60px;
}

header div ul {
  margin: 0;
  padding: 0;
}

header div ul li {
  margin: 0 5px;
  list-style: none;
}

#nav1 ul {
  text-align: center;
}

#nav1 ul li {
  padding-top: 60px;
}

#nav1 ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  letter-spacing: 4px;
}

#nav2 ul li {
  position: absolute;
  top: 60px;                                    /* Abstand oben */
}

#nav2 ul li:nth-child(1) {                      /* :nth-child(X) = Selektor mit Nummer des Elementes */
  left: 60px;                                   /* Abstand links */
}

#nav2 ul li:nth-child(2) {                      /* :nth-child(X) = Selektor mit Nummer des Elementes */
  right: 60px;                                  /* Abstand rechts */
}

#nav2 ul li a {
  text-decoration: none;                        /* keine Schmuckelemente */
  font-size: 20px;                              /* Schriftgröße */
  color: black;                                 /* Schriftfarbe */
  letter-spacing: 4px;                          /* Spazionierung */
}

#nav1 ul li a:hover, #nav2 ul li a:hover {      /* mit Maus drüber fahren */
  border-width: 4px;                            /* Rahmendicke */
  border-style: none none solid;                /* 1. Rahmen ringsum, 2. links + rechts, 3. unten  */
  color: cyan;                                  /* Farbe ändert sich */
}

/* ––––– Dropdown-Menü ––––– */

#dropdown1 {
  display: inline-block;                        /* <span> ist inline-Element (span heißt Bereich) */
}

#dropdown1:hover {
  color: cyan;
}

#dropdown1 span {
  letter-spacing: 4px;
  font-size: 20px;
}

#dropdown1 span:hover {
  border-width: 4px;
  border-style: none none solid;
  color: cyan;
}

/*
#dropdown1:hover{
  border-width: 4px;
  border-style: none none solid;
  color: cyan;
}*/

#dropdown1:hover #dropdown2 {
  display: block;
}

#dropdown2 {
  display: none;
  line-height: 40px;
  margin-top: 25px;
}

#dropdown2 a h2 {
  font-size: 20px;
}

#dropdown2 a h2:hover {
  color: #ffa07a;
}

/* ––––– Curriculum Vitae ––––– */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  align-content: center;
}

.CV {
  padding-top: 100px;
  padding-left: 400px;
}

h1 {
  color: black;
  font-size: 60px;
}

h3 {
  color: white;
  font-size: 18px;
}

table {
  line-height: 1.5;
  font-size: 18px;
  padding-right: 50px;
}

.table {
  line-height: 1.5;
  font-size: 18px;
  padding-right: 50px;
}

td {
  vertical-align: top;
  padding-right: 50px;
}

.content {
  width: 100%;
}

/* ––––– Kontakt ––––– */
